<%= form_for(@weekinfo) do |f| %>
  <% if @weekinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekinfo.errors.count, "error") %> prohibited this weekinfo from being saved:</h2>

      <ul>
      <% @weekinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
